@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --breakpoint-xs: 460px;
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --dynamic-header-height: 4.5rem; /* Fallback default */
  }

  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
  .animate-marquee2 {
    animation: marquee2 20s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .post-content > p {
    margin: 0 10px;
  }

  .post-content h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    text-indent: 0%;
  }

  .post-content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    text-indent: 0%;
    text-align: center;
  }

  .post-content h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    text-indent: 0%;
    text-align: center;
  }

  .post-content h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    text-indent: 0%;
  }

  .post-content h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    text-indent: 0%;
  }

  .post-content h6 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    text-indent: 0%;
  }

  .post-content a {
    text-decoration: underline;
  }

  .post-content a:hover {
    color: green;
  }

  .post-content a:active {
    color: purple;
  }

  .post-content > blockquote {
    background-color: rgb(226 232 240);
    border: 1px solid #999;
    text-indent: 0;
    width: 90%;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    .post-content > blockquote {
      width: 40vw;
    }
  }
  .post-content > blockquote > br {
    display: none;
  }
  .post-content > blockquote > code {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    color: #003503;
    line-height: 2em;
    text-wrap: nowrap;
    overflow-x: auto;
    margin: 0 10px;
    white-space: pre;
  }

  .post-content > ol,
  .post-content > ul {
    margin: 0 calc(2rem + 10px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-indent: 0;
  }
  .post-content > ol > li,
  .post-content > ul > li {
    list-style-type: none;
  }
}
