@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.post-content {
  text-indent: 2em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.b1 {
  border: 5px solid red;
}
.b2 {
  border: 5px solid green;
}
.b3 {
  border: 5px solid blue;
}
